body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	margin: 0 0;
	padding: 0 0;
}

.cabecalho {
	background-color: black;
	color: #EEE;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 70px;
	box-sizing: border-box;
	z-index: 1;
}

.titulo {
	font-size: 1.5em;
	font-weight: bold;
	float: left;
	display: inline-block;
}

.barra-superior {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.barra-superior li {
	display: inline
}

.a-direita {
	float: right;
}

li a {
	text-decoration: none;
	color: inherit;
	padding-left: 10px;
}

.conteudo {
	position: relative;
	top: 50px;
	padding: 10px 70px;
}

.nome-produto {
	font-weight: bold;
	font-size: 1.2em;
}

.valor {
	width: 200px;
	height: 20px;
	padding: 3px 5px;
	background-color: gray;
	float: left;
	margin-right: 20px;
	color: white !important;
}

.rodape {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: black;
	color: gray;
	padding: 5px 70px;
}

.alerta {
	float: left;
}