<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
	<ui:composition template="_template.xhtml">
		<ui:define name="container">
			<h:form id="produtos">
				<p:fieldset rendered="#{usuarioLogado != NULL}" id="carrinho"
					legend="Carrinho" toggleable="true" toggleSpeed="500" >
					<p:dataTable var="item" value="#{lojaBean.carrinho.listItemCompra}" emptyMessage="#{msg.carrinho_vazio}">
						<p:column headerText="#{msg.produto}">
							<h:outputText value="#{item.produto.nome}" />
						</p:column>
						<p:column headerText="#{msg.valor}">
							<h:outputText value="#{item.produto.valor}"  >
								<f:convertNumber type="currency"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msg.total}">
							<h:outputText value="#{item.produto.valor * item.quantidade}"  >
								<f:convertNumber type="currency"/>
							</h:outputText>
						</p:column>
						<p:column headerText="#{msg.quantidade}">
							<p:spinner value="#{item.quantidade}"  min="1" max="10" size="10" >
								<p:ajax event="change" update="@form" process="@this" listener="#{lojaBean.update(item.produto.id)}" />
							</p:spinner>
						</p:column>
						<p:column headerText="#{msg.remover}">
							<p:commandButton  icon="fa fa-fw fa-trash" actionListener="#{lojaBean.remove(item.produto.id)}" update="@form"/>
						</p:column>
					</p:dataTable>
					<h:outputText value="#{msg.total}: " />
					<h:outputText value="#{lojaBean.carrinho.valor}" id="id-total" >
						<f:convertNumber type="currency"/>
					</h:outputText>
				</p:fieldset>
				<p:dataList type="definition" value="#{lojaBean.produtos}"
					var="produto">
					<h:panelGrid columns="2" style="width:100%" frame="box">
						<p:lightBox>
							<h:outputLink value="#{produto.imagem}" title="#{produto.nome}">
								<p:graphicImage id="prod-#{produto.id}" url="#{produto.imagem}"
									width="200" />
							</h:outputLink>
						</p:lightBox>
						<p:outputPanel>
							<h:panelGrid columns="1" cellpadding="5">
								<h:outputText styleClass="nome-produto" value="#{produto.nome}" />
								<h:outputText value="#{produto.descricao}" />
								<h:outputText styleClass="valor" value="#{produto.valor}">
									<f:convertNumber type="currency" />
								</h:outputText>
								<p:commandButton process="@this" value="#{msg.adicionar}"
									actionListener="#{lojaBean.add(produto)}"
									icon="fa fa-fw fa-cart-plus" update="@form"
									rendered="#{ usuarioLogado != NULL}" />
							</h:panelGrid>
						</p:outputPanel>
					</h:panelGrid>
				</p:dataList>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>

