<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
	<ui:composition template="_template.xhtml">
		<ui:define name="container">
			<h2>#{msg.cadastrar}</h2>
			<h:form id="form-cadastro" rendered="#{usuarioLogado == NULL}">
				<p:panelGrid columns="2">

					<h:outputText value="#{msg.nome}" />
					<p:inputText id="nome" value="#{loginBean.usuario.nome}"
						required="true" requiredMessage="#{msg.nome_obrigatorio}" />

					<h:outputText value="#{msg.cpf}" />
					<p:inputMask id="cpf" value="#{loginBean.usuario.cpf}"
						mask="999.999.999-99" required="true"
						requiredMessage="#{msg.cpf_obrigatorio}" />

					<h:outputText value="#{msg.login}" />
					<p:inputText id="login" value="#{loginBean.usuario.login}"
						required="true" requiredMessage="#{msg.login_obrigatorio}" />

					<h:outputText value="#{msg.senha}" />
					<p:password id="senha" value="#{loginBean.usuario.senha}"
						required="true" requiredMessage="#{msg.senha_obrigatorio}" />

				</p:panelGrid>
				<p:commandButton value="Cadastrar" action="#{loginBean.cadastrar()}"
					process="@form" />

			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>