<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
	<ui:composition template="_template.xhtml">
		<ui:define name="container" >
			<center>
				<p:carousel value="#{loginBean.listUsuario()}"
					headerText="#{msg.usuarios}" var="usuario"
					itemStyle="text-align:left" numVisible="1"
					easing="easeOutBounce" style="width:400px" cricular="true" >
					<h:panelGrid columns="2" style="width:100%"
						columnClasses="label,value" rendered="#{usuarioLogado != NULL}">
						<h:outputText value="#{msg.nome}:" />
						<h:outputText value="#{usuario.nome}" />

						<h:outputText value="#{msg.cpf}:" />
						<h:outputText value="#{usuario.cpf}" />

						<h:outputText value="#{msg.login}:" />
						<h:outputText value="#{usuario.login}"  />

						<h:outputText value="#{msg.cadastro_em}:" />
						<h:outputText value="#{usuario.dtCadastro}"  >
							<f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
						</h:outputText>

					</h:panelGrid>
					<h:outputText rendered="#{usuarioLogado == NULL}" value="Você não está logado. Por favor, identifique-se"></h:outputText>
				</p:carousel>
			</center>
		</ui:define>
	</ui:composition>
</body>
</html>